{
    "version":"2.0",
    "metadata":{
      "apiVersion":"2023-04-20",
      "endpointPrefix":"bedrock",
      "jsonVersion":"1.0",
      "protocol":"json",
      "serviceFullName":"Amazon Bedrock",
      "serviceId":"Bedrock Runtime",
      "signatureVersion":"v4",
      "signingName":"bedrock",
      "targetPrefix":"AmazonBedrockFrontendService",
      "uid":"bedrock-runtime-2023-04-20"
    },
    "operations":{
      "AcceptAcknowledgement":{
        "name":"AcceptAcknowledgement",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"AcceptAcknowledgementRequest"},
        "output":{"shape":"AcceptAcknowledgementResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "CancelSubscription":{
        "name":"CancelSubscription",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"CancelSubscriptionRequest"},
        "output":{"shape":"CancelSubscriptionResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"},
          {"shape":"ConflictException"}
        ]
      },
      "CreateFineTuningJob":{
        "name":"CreateFineTuningJob",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"CreateFineTuningJobRequest"},
        "output":{"shape":"CreateFineTuningJobResponse"},
        "errors":[
          {"shape":"TooManyTagsException"},
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"},
          {"shape":"ServiceQuotaExceededException"},
          {"shape":"ConflictException"}
        ],
        "idempotent":true
      },
      "CreateModelCustomizationJob":{
        "name":"CreateModelCustomizationJob",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"CreateModelCustomizationJobRequest"},
        "output":{"shape":"CreateModelCustomizationJobResponse"},
        "errors":[
          {"shape":"TooManyTagsException"},
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"},
          {"shape":"ServiceQuotaExceededException"},
          {"shape":"ConflictException"}
        ],
        "idempotent":true
      },
      "CreateProvisionedThroughput":{
        "name":"CreateProvisionedThroughput",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"CreateProvisionedThroughputRequest"},
        "output":{"shape":"CreateProvisionedThroughputResponse"},
        "errors":[
          {"shape":"TooManyTagsException"},
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"},
          {"shape":"ServiceQuotaExceededException"}
        ],
        "idempotent":true
      },
      "CreateSubscription":{
        "name":"CreateSubscription",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"CreateSubscriptionRequest"},
        "output":{"shape":"CreateSubscriptionResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"},
          {"shape":"ConflictException"}
        ]
      },
      "DeleteCustomModel":{
        "name":"DeleteCustomModel",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"DeleteCustomModelRequest"},
        "output":{"shape":"DeleteCustomModelResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"},
          {"shape":"ConflictException"}
        ],
        "idempotent":true
      },
      "DeletePrompt":{
        "name":"DeletePrompt",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"DeletePromptRequest"},
        "output":{"shape":"DeletePromptResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ],
        "idempotent":true
      },
      "DeleteProvisionedThroughput":{
        "name":"DeleteProvisionedThroughput",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"DeleteProvisionedThroughputRequest"},
        "output":{"shape":"DeleteProvisionedThroughputResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ],
        "idempotent":true
      },
      "GenerateText":{
        "name":"GenerateText",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"GenerateTextRequest"},
        "output":{"shape":"GenerateTextResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"},
          {"shape":"ModelNotReadyException"},
          {"shape":"ServiceQuotaExceededException"}
        ],
        "endpoint":{"hostPrefix":"invoke-"}
      },
      "GetCustomModel":{
        "name":"GetCustomModel",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"GetCustomModelRequest"},
        "output":{"shape":"GetCustomModelResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "GetFineTuningJob":{
        "name":"GetFineTuningJob",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"GetFineTuningJobRequest"},
        "output":{"shape":"GetFineTuningJobResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "GetFoundationModel":{
        "name":"GetFoundationModel",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"GetFoundationModelRequest"},
        "output":{"shape":"GetFoundationModelResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "GetModelCustomizationJob":{
        "name":"GetModelCustomizationJob",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"GetModelCustomizationJobRequest"},
        "output":{"shape":"GetModelCustomizationJobResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "GetModelInvocationLogging":{
        "name":"GetModelInvocationLogging",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"GetModelInvocationLoggingRequest"},
        "output":{"shape":"GetModelInvocationLoggingResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"}
        ]
      },
      "GetModelPermission":{
        "name":"GetModelPermission",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"GetModelPermissionRequest"},
        "output":{"shape":"GetModelPermissionResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "GetPrompt":{
        "name":"GetPrompt",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"GetPromptRequest"},
        "output":{"shape":"GetPromptResponse"},
        "errors":[
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "GetProvisionedThroughput":{
        "name":"GetProvisionedThroughput",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"GetProvisionedThroughputRequest"},
        "output":{"shape":"GetProvisionedThroughputResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "GetSubscription":{
        "name":"GetSubscription",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"GetSubscriptionRequest"},
        "output":{"shape":"GetSubscriptionResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "GetTextEmbedding":{
        "name":"GetTextEmbedding",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"GetTextEmbeddingRequest"},
        "output":{"shape":"GetTextEmbeddingResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ],
        "endpoint":{"hostPrefix":"invoke-"}
      },
      "GetUserFeedback":{
        "name":"GetUserFeedback",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"GetUserFeedbackRequest"},
        "output":{"shape":"GetUserFeedbackResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "InvokeModel":{
        "name":"InvokeModel",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"InvokeModelRequest"},
        "output":{"shape":"InvokeModelResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"ModelTimeoutException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"},
          {"shape":"ModelNotReadyException"},
          {"shape":"ServiceQuotaExceededException"},
          {"shape":"ModelErrorException"}
        ],
        "endpoint":{"hostPrefix":"invoke-"}
      },
      "InvokeModelWithResponseStream":{
        "name":"InvokeModelWithResponseStream",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"InvokeModelWithResponseStreamRequest"},
        "output":{"shape":"InvokeModelWithResponseStreamResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"ModelTimeoutException"},
          {"shape":"InternalServerException"},
          {"shape":"ModelStreamErrorException"},
          {"shape":"ValidationException"},
          {"shape":"ModelNotReadyException"},
          {"shape":"ServiceQuotaExceededException"},
          {"shape":"ModelErrorException"}
        ],
        "endpoint":{"hostPrefix":"invoke-"}
      },
      "ListBuiltInModels":{
        "name":"ListBuiltInModels",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"ListBuiltInModelsRequest"},
        "output":{"shape":"ListBuiltInModelsResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "ListCustomModels":{
        "name":"ListCustomModels",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"ListCustomModelsRequest"},
        "output":{"shape":"ListCustomModelsResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "ListFineTuningJobs":{
        "name":"ListFineTuningJobs",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"ListFineTuningJobsRequest"},
        "output":{"shape":"ListFineTuningJobsResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "ListFoundationModels":{
        "name":"ListFoundationModels",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"ListFoundationModelsRequest"},
        "output":{"shape":"ListFoundationModelsResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "ListModelCustomizationJobs":{
        "name":"ListModelCustomizationJobs",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"ListModelCustomizationJobsRequest"},
        "output":{"shape":"ListModelCustomizationJobsResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "ListPrompts":{
        "name":"ListPrompts",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"ListPromptsRequest"},
        "output":{"shape":"ListPromptsResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "ListProvisionedThroughput":{
        "name":"ListProvisionedThroughput",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"ListProvisionedThroughputRequest"},
        "output":{"shape":"ListProvisionedThroughputResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "ListSubscriptionOffers":{
        "name":"ListSubscriptionOffers",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"ListSubscriptionOffersRequest"},
        "output":{"shape":"ListSubscriptionOffersResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "ListTagsForResource":{
        "name":"ListTagsForResource",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"ListTagsForResourceRequest"},
        "output":{"shape":"ListTagsForResourceResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "PutModelInvocationLogging":{
        "name":"PutModelInvocationLogging",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"PutModelInvocationLoggingRequest"},
        "output":{"shape":"PutModelInvocationLoggingResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ],
        "idempotent":true
      },
      "SendUserFeedback":{
        "name":"SendUserFeedback",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"SendUserFeedbackRequest"},
        "output":{"shape":"SendUserFeedbackResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "StopFineTuningJob":{
        "name":"StopFineTuningJob",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"StopFineTuningJobRequest"},
        "output":{"shape":"StopFineTuningJobResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"},
          {"shape":"ConflictException"}
        ],
        "idempotent":true
      },
      "StopModelCustomizationJob":{
        "name":"StopModelCustomizationJob",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"StopModelCustomizationJobRequest"},
        "output":{"shape":"StopModelCustomizationJobResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"},
          {"shape":"ConflictException"}
        ],
        "idempotent":true
      },
      "TagResource":{
        "name":"TagResource",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"TagResourceRequest"},
        "output":{"shape":"TagResourceResponse"},
        "errors":[
          {"shape":"TooManyTagsException"},
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "UntagResource":{
        "name":"UntagResource",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"UntagResourceRequest"},
        "output":{"shape":"UntagResourceResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ]
      },
      "UpdatePrompt":{
        "name":"UpdatePrompt",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"UpdatePromptRequest"},
        "output":{"shape":"UpdatePromptResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ],
        "idempotent":true
      },
      "UpdateProvisionedThroughput":{
        "name":"UpdateProvisionedThroughput",
        "http":{
          "method":"POST",
          "requestUri":"/"
        },
        "input":{"shape":"UpdateProvisionedThroughputRequest"},
        "output":{"shape":"UpdateProvisionedThroughputResponse"},
        "errors":[
          {"shape":"AccessDeniedException"},
          {"shape":"ResourceNotFoundException"},
          {"shape":"ThrottlingException"},
          {"shape":"InternalServerException"},
          {"shape":"ValidationException"}
        ],
        "idempotent":true
      }
    },
    "shapes":{
      "AcceptAcknowledgementRequest":{
        "type":"structure",
        "required":[
          "acknowledgementType",
          "acknowledgementFormVersion",
          "formData"
        ],
        "members":{
          "acknowledgementType":{"shape":"AcknowledgementFormType"},
          "acknowledgementFormVersion":{"shape":"AcknowledgemenFormVersion"},
          "formData":{"shape":"AcknowledgementFormData"}
        }
      },
      "AcceptAcknowledgementResponse":{
        "type":"structure",
        "members":{
        }
      },
      "AccessDeniedException":{
        "type":"structure",
        "members":{
          "message":{"shape":"NonBlankString"}
        },
        "exception":true
      },
      "AcknowledgedFTUFlag":{
        "type":"boolean",
        "box":true
      },
      "AcknowledgemenFormVersion":{
        "type":"integer",
        "box":true
      },
      "AcknowledgementFormData":{
        "type":"structure",
        "required":["formData"],
        "members":{
          "formData":{"shape":"AcknowledgementFormDataBody"}
        }
      },
      "AcknowledgementFormDataBody":{
        "type":"blob",
        "max":16384,
        "min":10
      },
      "AcknowledgementFormType":{
        "type":"string",
        "enum":["FTU"]
      },
      "AcknowlegementStatusType":{
        "type":"string",
        "enum":[
          "FTU",
          "SUBSCRIPTION_PENDING",
          "SUBSCRIPTION_COMPLETED"
        ]
      },
      "BatchSize":{
        "type":"integer",
        "box":true,
        "max":64,
        "min":1
      },
      "BedrockModelId":{
        "type":"string",
        "max":140,
        "min":0,
        "pattern":"[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}(/[a-z0-9]{12}|)"
      },
      "Body":{
        "type":"blob",
        "max":25000000,
        "min":0,
        "sensitive":true
      },
      "Bookmarked":{
        "type":"boolean",
        "box":true
      },
      "Boolean":{
        "type":"boolean",
        "box":true
      },
      "BrandedName":{
        "type":"string",
        "max":20,
        "min":1,
        "pattern":".*"
      },
      "BucketName":{
        "type":"string",
        "max":63,
        "min":3
      },
      "BuiltInModelName":{
        "type":"string",
        "max":63,
        "min":1,
        "pattern":"([a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63})"
      },
      "BuiltInModelSummary":{
        "type":"structure",
        "required":[
          "modelArn",
          "modelName",
          "creationTime",
          "description"
        ],
        "members":{
          "modelArn":{"shape":"ModelArn"},
          "modelName":{"shape":"BuiltInModelName"},
          "creationTime":{"shape":"Timestamp"},
          "description":{"shape":"ModelDescription"}
        }
      },
      "BuiltInModelSummaryList":{
        "type":"list",
        "member":{"shape":"BuiltInModelSummary"}
      },
      "CancelSubscriptionRequest":{
        "type":"structure",
        "required":["modelId"],
        "members":{
          "modelId":{"shape":"BedrockModelId"}
        }
      },
      "CancelSubscriptionResponse":{
        "type":"structure",
        "members":{
        }
      },
      "CloudWatchConfig":{
        "type":"structure",
        "required":[
          "logGroupName",
          "roleArn"
        ],
        "members":{
          "logGroupName":{"shape":"LogGroupName"},
          "roleArn":{"shape":"RoleArn"},
          "largeDataDeliveryS3Config":{"shape":"S3Config"}
        }
      },
      "ConflictException":{
        "type":"structure",
        "members":{
          "message":{"shape":"NonBlankString"}
        },
        "exception":true
      },
      "CreateFineTuningJobRequest":{
        "type":"structure",
        "required":[
          "jobName",
          "customModelName",
          "roleArn",
          "baseModelIdentifier",
          "trainingDataConfig",
          "outputDataConfig"
        ],
        "members":{
          "jobName":{"shape":"JobName"},
          "customModelName":{"shape":"CustomModelName"},
          "roleArn":{"shape":"RoleArn"},
          "clientRequestToken":{
            "shape":"IdempotencyToken",
            "idempotencyToken":true
          },
          "baseModelIdentifier":{"shape":"ModelIdentifier"},
          "customizationType":{"shape":"CustomizationType"},
          "hyperParameters":{"shape":"FineTuningHyperParameters"},
          "trainingDataConfig":{"shape":"TrainingDataConfig"},
          "validationDataConfig":{"shape":"ValidationDataConfig"},
          "outputDataConfig":{"shape":"OutputDataConfig"},
          "jobTags":{"shape":"TagList"},
          "customModelTags":{"shape":"TagList"}
        }
      },
      "CreateFineTuningJobResponse":{
        "type":"structure",
        "required":["jobArn"],
        "members":{
          "jobArn":{"shape":"FineTuningJobArn"}
        }
      },
      "CreateModelCustomizationJobRequest":{
        "type":"structure",
        "required":[
          "jobName",
          "customModelName",
          "roleArn",
          "baseModelIdentifier",
          "trainingDataConfig",
          "outputDataConfig",
          "hyperParameters"
        ],
        "members":{
          "jobName":{"shape":"JobName"},
          "customModelName":{"shape":"CustomModelName"},
          "roleArn":{"shape":"RoleArn"},
          "clientRequestToken":{
            "shape":"IdempotencyToken",
            "idempotencyToken":true
          },
          "baseModelIdentifier":{"shape":"ModelIdentifierV2"},
          "customizationType":{"shape":"CustomizationType"},
          "customModelKmsKeyId":{"shape":"KmsKeyId"},
          "jobTags":{"shape":"TagList"},
          "customModelTags":{"shape":"TagList"},
          "trainingDataConfig":{"shape":"TrainingDataConfig"},
          "validationDataConfig":{"shape":"ValidationDataConfig"},
          "outputDataConfig":{"shape":"OutputDataConfig"},
          "hyperParameters":{"shape":"ModelCustomizationHyperParameters"},
          "vpcConfig":{"shape":"VpcConfig"}
        }
      },
      "CreateModelCustomizationJobResponse":{
        "type":"structure",
        "required":["jobArn"],
        "members":{
          "jobArn":{"shape":"ModelCustomizationJobArn"}
        }
      },
      "CreateProvisionedThroughputRequest":{
        "type":"structure",
        "required":[
          "modelUnits",
          "provisionedThroughputName",
          "modelId"
        ],
        "members":{
          "clientRequestToken":{
            "shape":"IdempotencyToken",
            "idempotencyToken":true
          },
          "modelUnits":{"shape":"PositiveInteger"},
          "provisionedThroughputName":{"shape":"ProvisionedThroughputName"},
          "modelId":{"shape":"ModelId"},
          "tags":{"shape":"TagList"}
        }
      },
      "CreateProvisionedThroughputResponse":{
        "type":"structure",
        "required":["provisionedThroughputArn"],
        "members":{
          "provisionedThroughputArn":{"shape":"ProvisionedThroughputArn"}
        }
      },
      "CreateSubscriptionRequest":{
        "type":"structure",
        "required":["subscriptionVersionToken"],
        "members":{
          "subscriptionVersionToken":{"shape":"SubscriptionVersionToken"}
        }
      },
      "CreateSubscriptionResponse":{
        "type":"structure",
        "required":["modelId"],
        "members":{
          "modelId":{"shape":"BedrockModelId"}
        }
      },
      "CreatedAt":{
        "type":"long",
        "box":true
      },
      "CustomModelArn":{
        "type":"string",
        "max":1011,
        "min":20,
        "pattern":"arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12}"
      },
      "CustomModelName":{
        "type":"string",
        "max":63,
        "min":1,
        "pattern":"([0-9a-zA-Z][_-]?)+"
      },
      "CustomModelSummary":{
        "type":"structure",
        "required":[
          "modelArn",
          "modelName",
          "creationTime",
          "baseModelArn",
          "baseModelName"
        ],
        "members":{
          "modelArn":{"shape":"CustomModelArn"},
          "modelName":{"shape":"CustomModelName"},
          "creationTime":{"shape":"Timestamp"},
          "baseModelArn":{"shape":"ModelArn"},
          "baseModelName":{"shape":"ModelName"}
        }
      },
      "CustomModelSummaryList":{
        "type":"list",
        "member":{"shape":"CustomModelSummary"}
      },
      "CustomizationType":{
        "type":"string",
        "enum":[
          "FINE_TUNING",
          "CONTINUAL_PRE_TRAINING"
        ]
      },
      "DeleteCustomModelRequest":{
        "type":"structure",
        "required":["modelIdentifier"],
        "members":{
          "modelIdentifier":{"shape":"ModelIdentifier"}
        }
      },
      "DeleteCustomModelResponse":{
        "type":"structure",
        "members":{
        }
      },
      "DeletePromptRequest":{
        "type":"structure",
        "required":["promptId"],
        "members":{
          "promptId":{"shape":"PromptId"},
          "playgroundId":{"shape":"PlaygroundId"}
        }
      },
      "DeletePromptResponse":{
        "type":"structure",
        "members":{
        }
      },
      "DeleteProvisionedThroughputRequest":{
        "type":"structure",
        "required":["provisionedThroughputId"],
        "members":{
          "provisionedThroughputId":{"shape":"ProvisionedThroughputId"}
        }
      },
      "DeleteProvisionedThroughputResponse":{
        "type":"structure",
        "members":{
        }
      },
      "DimensionalPriceRate":{
        "type":"structure",
        "members":{
          "dimension":{"shape":"String"},
          "price":{"shape":"String"},
          "description":{"shape":"String"},
          "unit":{"shape":"String"}
        }
      },
      "Embedding":{
        "type":"list",
        "member":{"shape":"EmbeddingValue"}
      },
      "EmbeddingValue":{
        "type":"float",
        "box":true,
        "sensitive":true
      },
      "EndAt":{
        "type":"long",
        "box":true
      },
      "EntitlementStatusType":{
        "type":"string",
        "enum":[
          "AVAILABLE",
          "PENDING_AVAILABLE",
          "CANCELLED",
          "FAILED",
          "SCHEDULED",
          "EXPIRED"
        ]
      },
      "EpochCount":{
        "type":"integer",
        "box":true,
        "max":50,
        "min":1
      },
      "ErrorDetails":{
        "type":"structure",
        "members":{
          "errorCode":{"shape":"String"},
          "errorMessage":{"shape":"ErrorMessage"}
        }
      },
      "ErrorMessage":{
        "type":"string",
        "max":2048,
        "min":0
      },
      "FeedbackMetadata":{
        "type":"structure",
        "members":{
          "negativeFeedback":{"shape":"NegativeFeedback"},
          "positiveFeedback":{"shape":"PositiveFeedback"}
        },
        "union":true
      },
      "FeedbackPrompt":{
        "type":"structure",
        "members":{
          "invokeModelRequestBody":{"shape":"Body"},
          "modelResponse":{"shape":"Body"},
          "promptId":{"shape":"PromptId"},
          "invokeModelRequestId":{"shape":"RequestId"},
          "inputText":{"shape":"GenerateTextInputText"},
          "textGenerationConfig":{"shape":"TextGenerationConfig"},
          "modelIdentifier":{"shape":"BedrockModelId"},
          "playgroundId":{"shape":"PlaygroundId"},
          "results":{"shape":"GenerateTextResults"},
          "inputTokenCount":{"shape":"InputTextTokenCount"}
        }
      },
      "FineTuningHyperParameters":{
        "type":"structure",
        "members":{
          "epochCount":{"shape":"EpochCount"},
          "batchSize":{"shape":"BatchSize"},
          "learningRateConfig":{"shape":"LearningRateConfig"}
        }
      },
      "FineTuningJobArn":{
        "type":"string",
        "max":1011,
        "min":0,
        "pattern":".*(^arn:aws(-[^:]+)?:amazon-bedrock:[a-zA-Z0-9-]*:([0-9]{12})?:fine-tuning-job/.+$)|(^arn:aws(|-cn|-us-gov):bedrock:[a-z0-9-]{1,20}:([0-9]{12}|):(fine-tuning-job|model-customization-job)/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}(/[a-z0-9]{12})).*"
      },
      "FineTuningJobIdentifier":{
        "type":"string",
        "max":2048,
        "min":1,
        "pattern":".*(^arn:aws(-[^:]+)?:amazon-bedrock:[a-zA-Z0-9-]*:[0-9]{12}:fine-tuning-job/.+$)|([a-zA-Z0-9][a-zA-Z0-9\\-]*$)|(^arn:aws(|-cn|-us-gov):bedrock:[a-z0-9-]{1,20}:([0-9]{12}|):(fine-tuning-job|model-customization-job)/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}(/[a-z0-9]{12})$).*"
      },
      "FineTuningJobStatus":{
        "type":"string",
        "enum":[
          "InProgress",
          "Completed",
          "Failed",
          "Stopping",
          "Stopped"
        ]
      },
      "FineTuningJobSummaries":{
        "type":"list",
        "member":{"shape":"FineTuningJobSummary"}
      },
      "FineTuningJobSummary":{
        "type":"structure",
        "required":[
          "jobArn",
          "baseModelArn",
          "baseModelName",
          "jobName",
          "status",
          "customModelName",
          "lastModifiedTime",
          "creationTime"
        ],
        "members":{
          "jobArn":{"shape":"FineTuningJobArn"},
          "baseModelArn":{"shape":"ModelArn"},
          "baseModelName":{"shape":"ModelName"},
          "jobName":{"shape":"JobName"},
          "status":{"shape":"FineTuningJobStatus"},
          "customModelArn":{"shape":"ModelArn"},
          "customModelName":{"shape":"CustomModelName"},
          "lastModifiedTime":{"shape":"UpdatedAt"},
          "creationTime":{"shape":"CreatedAt"},
          "endTime":{"shape":"EndAt"}
        }
      },
      "FoundationModelArn":{
        "type":"string",
        "pattern":"arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}::foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}"
      },
      "FoundationModelDetails":{
        "type":"structure",
        "required":[
          "modelArn",
          "modelId"
        ],
        "members":{
          "modelArn":{"shape":"FoundationModelArn"},
          "modelId":{"shape":"BedrockModelId"},
          "modelName":{"shape":"BrandedName"},
          "providerName":{"shape":"BrandedName"},
          "inputModalities":{"shape":"ModelModalityList"},
          "outputModalities":{"shape":"ModelModalityList"},
          "responseStreamingSupported":{"shape":"Boolean"},
          "customizationsSupported":{"shape":"ModelCustomizationList"}
        }
      },
      "FoundationModelSummary":{
        "type":"structure",
        "required":[
          "modelArn",
          "modelId"
        ],
        "members":{
          "modelArn":{"shape":"FoundationModelArn"},
          "modelId":{"shape":"BedrockModelId"},
          "modelName":{"shape":"BrandedName"},
          "providerName":{"shape":"BrandedName"},
          "inputModalities":{"shape":"ModelModalityList"},
          "outputModalities":{"shape":"ModelModalityList"},
          "responseStreamingSupported":{"shape":"Boolean"},
          "customizationsSupported":{"shape":"ModelCustomizationList"}
        }
      },
      "FoundationModelSummaryList":{
        "type":"list",
        "member":{"shape":"FoundationModelSummary"}
      },
      "GenerateTextInputText":{
        "type":"string",
        "max":20000,
        "min":1,
        "sensitive":true
      },
      "GenerateTextRequest":{
        "type":"structure",
        "required":[
          "inputText",
          "modelIdentifier"
        ],
        "members":{
          "inputText":{"shape":"GenerateTextInputText"},
          "textGenerationConfig":{"shape":"TextGenerationConfig"},
          "modelIdentifier":{"shape":"ModelIdentifier"},
          "playgroundId":{"shape":"PlaygroundId"}
        }
      },
      "GenerateTextResponse":{
        "type":"structure",
        "members":{
          "results":{"shape":"GenerateTextResults"},
          "inputTextTokenCount":{"shape":"InputTextTokenCount"},
          "promptId":{"shape":"PromptId"}
        }
      },
      "GenerateTextResult":{
        "type":"structure",
        "required":[
          "tokenCount",
          "outputText"
        ],
        "members":{
          "tokenCount":{"shape":"NonNegativeInteger"},
          "outputText":{"shape":"OutputText"}
        }
      },
      "GenerateTextResults":{
        "type":"list",
        "member":{"shape":"GenerateTextResult"}
      },
      "GetCustomModelRequest":{
        "type":"structure",
        "required":["modelIdentifier"],
        "members":{
          "modelIdentifier":{"shape":"ModelIdentifier"}
        }
      },
      "GetCustomModelResponse":{
        "type":"structure",
        "required":[
          "modelArn",
          "modelName",
          "jobArn",
          "baseModelArn",
          "trainingDataConfig",
          "outputDataConfig",
          "creationTime"
        ],
        "members":{
          "modelArn":{"shape":"ModelArn"},
          "modelName":{"shape":"CustomModelName"},
          "jobName":{"shape":"JobName"},
          "jobArn":{"shape":"ModelCustomizationJobArn"},
          "baseModelArn":{"shape":"ModelArn"},
          "customizationType":{"shape":"CustomizationType"},
          "modelKmsKeyArn":{"shape":"KmsKeyArn"},
          "hyperParameters":{"shape":"ModelCustomizationHyperParameters"},
          "trainingDataConfig":{"shape":"TrainingDataConfig"},
          "validationDataConfig":{"shape":"ValidationDataConfig"},
          "outputDataConfig":{"shape":"OutputDataConfig"},
          "trainingMetrics":{"shape":"TrainingMetrics"},
          "validationMetrics":{"shape":"ValidationMetrics"},
          "realTimeInferenceStatus":{"shape":"RealTimeInferenceStatus"},
          "creationTime":{"shape":"Timestamp"}
        }
      },
      "GetFineTuningJobRequest":{
        "type":"structure",
        "required":["jobIdentifier"],
        "members":{
          "jobIdentifier":{"shape":"FineTuningJobIdentifier"}
        }
      },
      "GetFineTuningJobResponse":{
        "type":"structure",
        "required":[
          "jobArn",
          "jobName",
          "roleArn",
          "outputModelName",
          "baseModelArn",
          "baseModelName",
          "trainingDataConfig",
          "outputDataConfig",
          "creationTime"
        ],
        "members":{
          "jobArn":{"shape":"FineTuningJobArn"},
          "jobName":{"shape":"JobName"},
          "roleArn":{"shape":"RoleArn"},
          "outputModelName":{"shape":"CustomModelName"},
          "outputModelArn":{"shape":"ModelArn"},
          "baseModelArn":{"shape":"ModelArn"},
          "baseModelName":{"shape":"ModelName"},
          "trainingDataConfig":{"shape":"TrainingDataConfig"},
          "validationDataConfig":{"shape":"ValidationDataConfig"},
          "outputDataConfig":{"shape":"OutputDataConfig"},
          "customizationType":{"shape":"CustomizationType"},
          "hyperParameters":{"shape":"FineTuningHyperParameters"},
          "clientRequestToken":{"shape":"IdempotencyToken"},
          "trainingMetrics":{"shape":"TrainingMetrics"},
          "validationMetrics":{"shape":"ValidationMetrics"},
          "status":{"shape":"FineTuningJobStatus"},
          "failureMessage":{"shape":"ErrorMessage"},
          "creationTime":{"shape":"CreatedAt"},
          "lastModifiedTime":{"shape":"UpdatedAt"},
          "endTime":{"shape":"EndAt"}
        }
      },
      "GetFoundationModelRequest":{
        "type":"structure",
        "required":["modelIdentifier"],
        "members":{
          "modelIdentifier":{"shape":"ModelIdentifier"}
        }
      },
      "GetFoundationModelResponse":{
        "type":"structure",
        "members":{
          "modelDetails":{"shape":"FoundationModelDetails"}
        }
      },
      "GetModelCustomizationJobRequest":{
        "type":"structure",
        "required":["jobIdentifier"],
        "members":{
          "jobIdentifier":{"shape":"ModelCustomizationJobIdentifier"}
        }
      },
      "GetModelCustomizationJobResponse":{
        "type":"structure",
        "required":[
          "jobArn",
          "jobName",
          "outputModelName",
          "roleArn",
          "creationTime",
          "baseModelArn",
          "hyperParameters",
          "trainingDataConfig",
          "validationDataConfig",
          "outputDataConfig"
        ],
        "members":{
          "jobArn":{"shape":"ModelCustomizationJobArn"},
          "jobName":{"shape":"JobName"},
          "outputModelName":{"shape":"CustomModelName"},
          "outputModelArn":{"shape":"CustomModelArn"},
          "clientRequestToken":{"shape":"IdempotencyToken"},
          "roleArn":{"shape":"RoleArn"},
          "status":{"shape":"ModelCustomizationJobStatus"},
          "failureMessage":{"shape":"ErrorMessage"},
          "creationTime":{"shape":"Timestamp"},
          "lastModifiedTime":{"shape":"Timestamp"},
          "endTime":{"shape":"Timestamp"},
          "baseModelArn":{"shape":"FoundationModelArn"},
          "hyperParameters":{"shape":"ModelCustomizationHyperParameters"},
          "trainingDataConfig":{"shape":"TrainingDataConfig"},
          "validationDataConfig":{"shape":"ValidationDataConfig"},
          "outputDataConfig":{"shape":"OutputDataConfig"},
          "customizationType":{"shape":"CustomizationType"},
          "outputModelKmsKeyArn":{"shape":"KmsKeyArn"},
          "trainingMetrics":{"shape":"TrainingMetrics"},
          "validationMetrics":{"shape":"ValidationMetrics"},
          "vpcConfig":{"shape":"VpcConfig"}
        }
      },
      "GetModelInvocationLoggingRequest":{
        "type":"structure",
        "members":{
        }
      },
      "GetModelInvocationLoggingResponse":{
        "type":"structure",
        "members":{
          "loggingConfig":{"shape":"LoggingConfig"}
        }
      },
      "GetModelPermissionRequest":{
        "type":"structure",
        "required":["modelIdentifier"],
        "members":{
          "modelIdentifier":{"shape":"BedrockModelId"}
        }
      },
      "GetModelPermissionResponse":{
        "type":"structure",
        "required":[
          "modelId",
          "hasModelPermission",
          "acknowledgedFTU"
        ],
        "members":{
          "modelId":{"shape":"BedrockModelId"},
          "hasModelPermission":{"shape":"HasModelPermissionFlag"},
          "acknowledgedFTU":{"shape":"AcknowledgedFTUFlag"},
          "acknowlegementStatus":{"shape":"AcknowlegementStatusType"},
          "entitlementStatus":{"shape":"EntitlementStatusType"}
        }
      },
      "GetPromptRequest":{
        "type":"structure",
        "required":["promptId"],
        "members":{
          "promptId":{"shape":"PromptId"}
        }
      },
      "GetPromptResponse":{
        "type":"structure",
        "required":["prompt"],
        "members":{
          "prompt":{"shape":"Prompt"}
        }
      },
      "GetProvisionedThroughputRequest":{
        "type":"structure",
        "required":["provisionedThroughputId"],
        "members":{
          "provisionedThroughputId":{"shape":"ProvisionedThroughputId"}
        }
      },
      "GetProvisionedThroughputResponse":{
        "type":"structure",
        "required":[
          "modelUnits",
          "desiredModelUnits",
          "provisionedThroughputName",
          "provisionedThroughputArn",
          "modelArn",
          "desiredModelArn",
          "status",
          "creationTime",
          "lastModifiedTime"
        ],
        "members":{
          "modelUnits":{"shape":"PositiveInteger"},
          "desiredModelUnits":{"shape":"PositiveInteger"},
          "provisionedThroughputName":{"shape":"ProvisionedThroughputName"},
          "provisionedThroughputArn":{"shape":"ProvisionedThroughputArn"},
          "modelArn":{"shape":"ModelArn"},
          "desiredModelArn":{"shape":"ModelArn"},
          "status":{"shape":"ProvisionedThroughputStatus"},
          "creationTime":{"shape":"Timestamp"},
          "lastModifiedTime":{"shape":"Timestamp"},
          "failureMessage":{"shape":"ErrorMessage"}
        }
      },
      "GetSubscriptionRequest":{
        "type":"structure",
        "required":["modelId"],
        "members":{
          "modelId":{"shape":"BedrockModelId"}
        }
      },
      "GetSubscriptionResponse":{
        "type":"structure",
        "required":["subscriptionStatus"],
        "members":{
          "subscriptionStatus":{"shape":"SubscriptionStatus"},
          "errorDetails":{"shape":"ErrorDetails"}
        }
      },
      "GetTextEmbeddingInputText":{
        "type":"string",
        "max":2560,
        "min":1,
        "sensitive":true
      },
      "GetTextEmbeddingRequest":{
        "type":"structure",
        "required":[
          "inputText",
          "modelIdentifier"
        ],
        "members":{
          "inputText":{"shape":"GetTextEmbeddingInputText"},
          "modelIdentifier":{"shape":"ModelIdentifier"}
        }
      },
      "GetTextEmbeddingResponse":{
        "type":"structure",
        "members":{
          "embedding":{"shape":"Embedding"},
          "inputTextTokenCount":{"shape":"InputTextTokenCount"}
        }
      },
      "GetUserFeedbackRequest":{
        "type":"structure",
        "required":["promptId"],
        "members":{
          "promptId":{"shape":"PromptId"}
        }
      },
      "GetUserFeedbackResponse":{
        "type":"structure",
        "required":["userFeedbackType"],
        "members":{
          "userFeedbackType":{"shape":"UserFeedbackType"}
        }
      },
      "HarmfulTraitReason":{
        "type":"string",
        "enum":[
          "Toxic",
          "Profane",
          "Biased",
          "PII",
          "Advice",
          "Opinions"
        ]
      },
      "HarmfulTraitReasonList":{
        "type":"list",
        "member":{"shape":"HarmfulTraitReason"}
      },
      "HasModelPermissionFlag":{
        "type":"boolean",
        "box":true
      },
      "IdealResponse":{
        "type":"string",
        "max":10000,
        "min":0
      },
      "IdempotencyToken":{
        "type":"string",
        "max":256,
        "min":1,
        "pattern":"[a-zA-Z0-9](-*[a-zA-Z0-9])*"
      },
      "InputTextTokenCount":{
        "type":"integer",
        "box":true
      },
      "InternalServerException":{
        "type":"structure",
        "members":{
          "message":{"shape":"NonBlankString"}
        },
        "exception":true,
        "fault":true
      },
      "InvokeModelIdentifier":{
        "type":"string",
        "max":2048,
        "min":1,
        "pattern":"(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12})|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63})|([0-9]{12}:provisioned-model/[a-z0-9]{12})))|(([0-9a-zA-Z][_-]?)+)|([a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63})"
      },
      "InvokeModelRequest":{
        "type":"structure",
        "required":[
          "body",
          "modelId"
        ],
        "members":{
          "body":{"shape":"Body"},
          "contentType":{"shape":"MimeType"},
          "accept":{"shape":"MimeType"},
          "modelId":{"shape":"InvokeModelIdentifier"},
          "save":{"shape":"Boolean"}
        }
      },
      "InvokeModelResponse":{
        "type":"structure",
        "required":[
          "body",
          "contentType"
        ],
        "members":{
          "body":{"shape":"Body"},
          "contentType":{"shape":"MimeType"},
          "promptId":{"shape":"PromptId"}
        }
      },
      "InvokeModelWithResponseStreamRequest":{
        "type":"structure",
        "required":[
          "body",
          "modelId"
        ],
        "members":{
          "body":{"shape":"Body"},
          "contentType":{"shape":"MimeType"},
          "accept":{"shape":"MimeType"},
          "modelId":{"shape":"InvokeModelIdentifier"},
          "save":{"shape":"Boolean"}
        }
      },
      "InvokeModelWithResponseStreamResponse":{
        "type":"structure",
        "required":[
          "body",
          "contentType"
        ],
        "members":{
          "body":{"shape":"ResponseStream"},
          "contentType":{"shape":"MimeType"},
          "promptId":{"shape":"PromptId"}
        }
      },
      "JobName":{
        "type":"string",
        "max":63,
        "min":1,
        "pattern":"[a-zA-Z0-9](-*[a-zA-Z0-9\\+\\-\\.])*"
      },
      "KeyPrefix":{"type":"string"},
      "KmsKeyArn":{
        "type":"string",
        "max":2048,
        "min":1,
        "pattern":"arn:aws(-[^:]+)?:kms:[a-zA-Z0-9-]*:[0-9]{12}:key/[a-zA-Z0-9-]{36}"
      },
      "KmsKeyId":{
        "type":"string",
        "max":2048,
        "min":1,
        "pattern":"arn:aws(-[^:]+)?:kms:[a-zA-Z0-9-]*:[0-9]{12}:((key/[a-zA-Z0-9-]{36})|(alias/[a-zA-Z0-9-_/]+))"
      },
      "LearningRate":{
        "type":"float",
        "box":true,
        "max":1.0,
        "min":0
      },
      "LearningRateConfig":{
        "type":"structure",
        "members":{
          "learningRate":{"shape":"LearningRate"},
          "learningRateWarmupSteps":{"shape":"LearningRateWarmupSteps"}
        }
      },
      "LearningRateWarmupSteps":{
        "type":"integer",
        "box":true,
        "max":250,
        "min":0
      },
      "LegalTerm":{
        "type":"structure",
        "members":{
          "type":{"shape":"LegalTermType"},
          "url":{"shape":"String"}
        }
      },
      "LegalTermType":{
        "type":"string",
        "enum":[
          "Eula",
          "AwsMarketplaceStandardContract",
          "AwsMarketplaceEnterpriseContract"
        ]
      },
      "ListBuiltInModelsRequest":{
        "type":"structure",
        "members":{
          "creationTimeBefore":{"shape":"Timestamp"},
          "creationTimeAfter":{"shape":"Timestamp"},
          "nameContains":{"shape":"BuiltInModelName"},
          "maxResults":{"shape":"MaxResults"},
          "nextToken":{"shape":"PaginationToken"}
        }
      },
      "ListBuiltInModelsResponse":{
        "type":"structure",
        "members":{
          "nextToken":{"shape":"PaginationToken"},
          "modelSummaries":{"shape":"BuiltInModelSummaryList"}
        }
      },
      "ListCustomModelsRequest":{
        "type":"structure",
        "members":{
          "creationTimeBefore":{"shape":"Timestamp"},
          "creationTimeAfter":{"shape":"Timestamp"},
          "nameContains":{"shape":"CustomModelName"},
          "maxResults":{"shape":"MaxResults"},
          "nextToken":{"shape":"PaginationToken"},
          "sortBy":{"shape":"SortModelsBy"},
          "sortOrder":{"shape":"SortOrder"}
        }
      },
      "ListCustomModelsResponse":{
        "type":"structure",
        "members":{
          "nextToken":{"shape":"PaginationToken"},
          "modelSummaries":{"shape":"CustomModelSummaryList"}
        }
      },
      "ListFineTuningJobsRequest":{
        "type":"structure",
        "members":{
          "creationTimeAfter":{"shape":"Timestamp"},
          "creationTimeBefore":{"shape":"Timestamp"},
          "statusEquals":{"shape":"FineTuningJobStatus"},
          "nameContains":{"shape":"JobName"},
          "maxResults":{"shape":"MaxResults"},
          "nextToken":{"shape":"PaginationToken"},
          "sortBy":{"shape":"SortJobsBy"},
          "sortOrder":{"shape":"SortOrder"}
        }
      },
      "ListFineTuningJobsResponse":{
        "type":"structure",
        "members":{
          "nextToken":{"shape":"PaginationToken"},
          "fineTuningJobSummaries":{"shape":"FineTuningJobSummaries"}
        }
      },
      "ListFoundationModelsRequest":{
        "type":"structure",
        "members":{
          "byProvider":{"shape":"Provider"},
          "byCustomizationType":{"shape":"ModelCustomization"},
          "byOutputModality":{"shape":"ModelModality"}
        }
      },
      "ListFoundationModelsResponse":{
        "type":"structure",
        "members":{
          "modelSummaries":{"shape":"FoundationModelSummaryList"}
        }
      },
      "ListModelCustomizationJobsRequest":{
        "type":"structure",
        "members":{
          "creationTimeAfter":{"shape":"Timestamp"},
          "creationTimeBefore":{"shape":"Timestamp"},
          "statusEquals":{"shape":"FineTuningJobStatus"},
          "nameContains":{"shape":"JobName"},
          "maxResults":{"shape":"MaxResults"},
          "nextToken":{"shape":"PaginationToken"},
          "sortBy":{"shape":"SortJobsBy"},
          "sortOrder":{"shape":"SortOrder"}
        }
      },
      "ListModelCustomizationJobsResponse":{
        "type":"structure",
        "members":{
          "nextToken":{"shape":"PaginationToken"},
          "modelCustomizationJobSummaries":{"shape":"ModelCustomizationJobSummaries"}
        }
      },
      "ListPromptsRequest":{
        "type":"structure",
        "members":{
          "playgroundId":{"shape":"PlaygroundId"},
          "modality":{"shape":"Modality"},
          "bookmarked":{"shape":"Boolean"},
          "maxResults":{"shape":"ListPromptsRequestMaxResultsInteger"},
          "nextToken":{"shape":"PaginationToken"}
        }
      },
      "ListPromptsRequestMaxResultsInteger":{
        "type":"integer",
        "box":true,
        "max":100,
        "min":1
      },
      "ListPromptsResponse":{
        "type":"structure",
        "members":{
          "prompts":{"shape":"Prompts"},
          "nextToken":{"shape":"PaginationToken"}
        }
      },
      "ListProvisionedThroughputRequest":{
        "type":"structure",
        "members":{
          "creationTimeAfter":{"shape":"Timestamp"},
          "creationTimeBefore":{"shape":"Timestamp"},
          "statusEquals":{"shape":"ProvisionedThroughputStatus"},
          "nameContains":{"shape":"ProvisionedThroughputName"},
          "maxResults":{"shape":"MaxResults"},
          "nextToken":{"shape":"PaginationToken"},
          "sortBy":{"shape":"SortProvisionedThroughputBy"},
          "sortOrder":{"shape":"SortOrder"}
        }
      },
      "ListProvisionedThroughputResponse":{
        "type":"structure",
        "members":{
          "nextToken":{"shape":"PaginationToken"},
          "provisionedThroughputSummaries":{"shape":"ProvisionedThroughputSummaries"}
        }
      },
      "ListSubscriptionOffersRequest":{
        "type":"structure",
        "required":["modelId"],
        "members":{
          "modelId":{"shape":"BedrockModelId"},
          "offerIds":{"shape":"OfferIds"}
        }
      },
      "ListSubscriptionOffersResponse":{
        "type":"structure",
        "required":[
          "offers",
          "amazonLegalStatement"
        ],
        "members":{
          "offers":{"shape":"Offers"},
          "amazonLegalStatement":{"shape":"String"}
        }
      },
      "ListTagsForResourceRequest":{
        "type":"structure",
        "required":["resourceARN"],
        "members":{
          "resourceARN":{"shape":"TaggableResourcesArn"}
        }
      },
      "ListTagsForResourceResponse":{
        "type":"structure",
        "members":{
          "tags":{"shape":"TagList"}
        }
      },
      "LogGroupName":{
        "type":"string",
        "max":512,
        "min":1
      },
      "LoggingConfig":{
        "type":"structure",
        "members":{
          "cloudWatchConfig":{"shape":"CloudWatchConfig"},
          "s3Config":{"shape":"S3Config"},
          "textDataDeliveryEnabled":{"shape":"Boolean"},
          "imageDataDeliveryEnabled":{"shape":"Boolean"},
          "embeddingDataDeliveryEnabled":{"shape":"Boolean"}
        }
      },
      "MaxResults":{
        "type":"integer",
        "box":true,
        "max":1000,
        "min":1
      },
      "MetricFloat":{
        "type":"float",
        "box":true
      },
      "MimeType":{"type":"string"},
      "Modality":{
        "type":"string",
        "enum":[
          "TEXT_TO_TEXT",
          "TEXT_TO_IMAGE"
        ]
      },
      "ModelArn":{
        "type":"string",
        "max":1011,
        "min":20,
        "pattern":"arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12})|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}))"
      },
      "ModelCustomization":{
        "type":"string",
        "enum":[
          "FINE_TUNING",
          "CONTINUAL_PRE_TRAINING"
        ]
      },
      "ModelCustomizationHyperParameters":{
        "type":"map",
        "key":{"shape":"String"},
        "value":{"shape":"String"}
      },
      "ModelCustomizationJobArn":{
        "type":"string",
        "max":1011,
        "min":0,
        "pattern":"arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:model-customization-job/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12}.*"
      },
      "ModelCustomizationJobIdentifier":{
        "type":"string",
        "max":1011,
        "min":0,
        "pattern":"(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:model-customization-job/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12})|([a-zA-Z0-9](-*[a-zA-Z0-9\\+\\-\\.])*)"
      },
      "ModelCustomizationJobStatus":{
        "type":"string",
        "enum":[
          "InProgress",
          "Completed",
          "Failed",
          "Stopping",
          "Stopped"
        ]
      },
      "ModelCustomizationJobSummaries":{
        "type":"list",
        "member":{"shape":"ModelCustomizationJobSummary"}
      },
      "ModelCustomizationJobSummary":{
        "type":"structure",
        "required":[
          "jobArn",
          "baseModelArn",
          "jobName",
          "status",
          "creationTime"
        ],
        "members":{
          "jobArn":{"shape":"ModelCustomizationJobArn"},
          "baseModelArn":{"shape":"ModelArn"},
          "jobName":{"shape":"JobName"},
          "status":{"shape":"ModelCustomizationJobStatus"},
          "lastModifiedTime":{"shape":"Timestamp"},
          "creationTime":{"shape":"Timestamp"},
          "endTime":{"shape":"Timestamp"},
          "customModelArn":{"shape":"CustomModelArn"},
          "customModelName":{"shape":"CustomModelName"}
        }
      },
      "ModelCustomizationList":{
        "type":"list",
        "member":{"shape":"ModelCustomization"}
      },
      "ModelDescription":{
        "type":"string",
        "max":2048,
        "min":1,
        "pattern":".*"
      },
      "ModelErrorException":{
        "type":"structure",
        "members":{
          "message":{"shape":"NonBlankString"},
          "originalStatusCode":{"shape":"StatusCode"},
          "resourceName":{"shape":"NonBlankString"}
        },
        "exception":true
      },
      "ModelId":{
        "type":"string",
        "max":2048,
        "min":1,
        "pattern":".*(^[a-zA-Z0-9-_.]+$)|(^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:([0-9]{12}|):foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12}$)|(^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12}).*"
      },
      "ModelIdentifier":{
        "type":"string",
        "max":2048,
        "min":1,
        "pattern":"(arn:aws(-[^:]+)?:amazon-bedrock:[a-zA-Z0-9-]*:(([0-9]{12})|(aws))?:(custom|built-in)-model/.+)|(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12})|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63})))|(([0-9a-zA-Z][_-]?)+)|([a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63})"
      },
      "ModelIdentifierV2":{
        "type":"string",
        "max":2048,
        "min":1,
        "pattern":"(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12})|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63})))|(([0-9a-zA-Z][_-]?)+)|([a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63})"
      },
      "ModelModality":{
        "type":"string",
        "enum":[
          "TEXT",
          "IMAGE",
          "EMBEDDING"
        ]
      },
      "ModelModalityList":{
        "type":"list",
        "member":{"shape":"ModelModality"}
      },
      "ModelName":{
        "type":"string",
        "max":63,
        "min":1,
        "pattern":"([a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63})"
      },
      "ModelNotReadyException":{
        "type":"structure",
        "members":{
          "message":{"shape":"NonBlankString"}
        },
        "exception":true
      },
      "ModelStreamErrorException":{
        "type":"structure",
        "members":{
          "message":{"shape":"NonBlankString"},
          "originalStatusCode":{"shape":"StatusCode"},
          "originalMessage":{"shape":"NonBlankString"}
        },
        "exception":true
      },
      "ModelTimeoutException":{
        "type":"structure",
        "members":{
          "message":{"shape":"NonBlankString"}
        },
        "exception":true
      },
      "NegativeFeedback":{
        "type":"structure",
        "members":{
          "idealResponse":{"shape":"IdealResponse"},
          "role":{"shape":"String"},
          "responseTraits":{"shape":"ResponseTraitList"},
          "harmfulTraitReasons":{"shape":"HarmfulTraitReasonList"}
        }
      },
      "NonBlankString":{
        "type":"string",
        "pattern":"[\\s\\S]*"
      },
      "NonNegativeInteger":{
        "type":"integer",
        "box":true,
        "min":0
      },
      "Offer":{
        "type":"structure",
        "required":[
          "subscriptionVersionToken",
          "termDetails"
        ],
        "members":{
          "offerId":{"shape":"OfferId"},
          "subscriptionVersionToken":{"shape":"SubscriptionVersionToken"},
          "termDetails":{"shape":"TermDetails"}
        }
      },
      "OfferId":{"type":"string"},
      "OfferIds":{
        "type":"list",
        "member":{"shape":"OfferId"}
      },
      "Offers":{
        "type":"list",
        "member":{"shape":"Offer"}
      },
      "OutputDataConfig":{
        "type":"structure",
        "required":["s3Uri"],
        "members":{
          "s3Uri":{"shape":"S3Uri"}
        }
      },
      "OutputText":{
        "type":"string",
        "sensitive":true
      },
      "PaginationToken":{
        "type":"string",
        "max":2048,
        "min":1,
        "pattern":"\\S*"
      },
      "PartBody":{
        "type":"blob",
        "max":1000000,
        "min":0,
        "sensitive":true
      },
      "PayloadPart":{
        "type":"structure",
        "members":{
          "bytes":{"shape":"PartBody"}
        },
        "event":true,
        "sensitive":true
      },
      "PlaygroundId":{
        "type":"string",
        "max":20,
        "min":1,
        "pattern":"[a-zA-Z0-9](-*[a-zA-Z0-9\\-])*"
      },
      "PositiveFeedback":{
        "type":"structure",
        "members":{
          "idealResponse":{"shape":"IdealResponse"},
          "role":{"shape":"String"}
        }
      },
      "PositiveInteger":{
        "type":"integer",
        "box":true,
        "min":1
      },
      "PricingTerm":{
        "type":"structure",
        "required":["rateCard"],
        "members":{
          "rateCard":{"shape":"RateCard"}
        }
      },
      "Probability":{
        "type":"float",
        "box":true,
        "max":1,
        "min":0
      },
      "Prompt":{
        "type":"structure",
        "required":[
          "promptId",
          "bookmarked",
          "createdAt"
        ],
        "members":{
          "playgroundId":{"shape":"PlaygroundId"},
          "promptId":{"shape":"PromptId"},
          "bookmarked":{"shape":"Bookmarked"},
          "createdAt":{"shape":"Timestamp"},
          "generateTextRequest":{"shape":"PromptGenerateTextRequest"},
          "generateTextResponse":{"shape":"PromptGenerateTextResponse"},
          "inputContentType":{"shape":"String"},
          "input":{"shape":"Body"},
          "outputContentType":{"shape":"String"},
          "output":{"shape":"Body"},
          "modality":{"shape":"Modality"},
          "modelId":{"shape":"ModelIdentifier"},
          "modelArn":{"shape":"String"},
          "modelName":{"shape":"String"},
          "modelProvider":{"shape":"String"}
        }
      },
      "PromptGenerateTextRequest":{
        "type":"structure",
        "required":[
          "inputText",
          "modelIdentifier"
        ],
        "members":{
          "inputText":{"shape":"GenerateTextInputText"},
          "textGenerationConfig":{"shape":"TextGenerationConfig"},
          "modelIdentifier":{"shape":"ModelIdentifier"},
          "playgroundId":{"shape":"PlaygroundId"}
        }
      },
      "PromptGenerateTextResponse":{
        "type":"structure",
        "members":{
          "results":{"shape":"GenerateTextResults"},
          "inputTextTokenCount":{"shape":"InputTextTokenCount"},
          "promptId":{"shape":"PromptId"}
        }
      },
      "PromptId":{
        "type":"string",
        "max":36,
        "min":1,
        "pattern":"[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*"
      },
      "Prompts":{
        "type":"list",
        "member":{"shape":"Prompt"}
      },
      "Provider":{
        "type":"string",
        "pattern":"[a-z0-9-]{1,63}"
      },
      "ProvisionedThroughputArn":{
        "type":"string",
        "pattern":"arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:provisioned-throughput/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}(/[a-z0-9]{12})"
      },
      "ProvisionedThroughputId":{
        "type":"string",
        "pattern":"[a-z0-9]{12}"
      },
      "ProvisionedThroughputName":{
        "type":"string",
        "max":63,
        "min":1,
        "pattern":"([0-9a-zA-Z][_-]?)+"
      },
      "ProvisionedThroughputStatus":{
        "type":"string",
        "enum":[
          "Creating",
          "InService",
          "Updating",
          "Failed"
        ]
      },
      "ProvisionedThroughputSummaries":{
        "type":"list",
        "member":{"shape":"ProvisionedThroughputSummary"}
      },
      "ProvisionedThroughputSummary":{
        "type":"structure",
        "required":[
          "provisionedThroughputName",
          "provisionedThroughputArn",
          "modelArn",
          "modelUnits",
          "status",
          "creationTime",
          "lastModifiedTime"
        ],
        "members":{
          "provisionedThroughputName":{"shape":"ProvisionedThroughputName"},
          "provisionedThroughputArn":{"shape":"ProvisionedThroughputArn"},
          "modelArn":{"shape":"ModelArn"},
          "modelUnits":{"shape":"PositiveInteger"},
          "status":{"shape":"ProvisionedThroughputStatus"},
          "creationTime":{"shape":"Timestamp"},
          "lastModifiedTime":{"shape":"Timestamp"}
        }
      },
      "PutModelInvocationLoggingRequest":{
        "type":"structure",
        "members":{
          "loggingConfig":{"shape":"LoggingConfig"}
        }
      },
      "PutModelInvocationLoggingResponse":{
        "type":"structure",
        "members":{
        }
      },
      "RateCard":{
        "type":"list",
        "member":{"shape":"DimensionalPriceRate"}
      },
      "RealTimeInferenceStatus":{
        "type":"string",
        "enum":[
          "ACTIVE",
          "INACTIVE",
          "ACTIVATING"
        ]
      },
      "RequestId":{
        "type":"string",
        "pattern":"[0-9a-z]{8}-[0-9a-z]{4}-[0-9a-z]{4}-[0-9a-z]{4}-[0-9a-z]{12}"
      },
      "ResourceNotFoundException":{
        "type":"structure",
        "members":{
          "message":{"shape":"NonBlankString"}
        },
        "exception":true
      },
      "ResponseStream":{
        "type":"structure",
        "members":{
          "chunk":{"shape":"PayloadPart"},
          "internalServerException":{"shape":"InternalServerException"},
          "modelStreamErrorException":{"shape":"ModelStreamErrorException"}
        },
        "eventstream":true
      },
      "ResponseTrait":{
        "type":"string",
        "enum":[
          "OffTopic",
          "NotTrue",
          "PoorlyWritten",
          "HarmfulInappropriate",
          "IncorrectlyBlockedContent"
        ]
      },
      "ResponseTraitList":{
        "type":"list",
        "member":{"shape":"ResponseTrait"}
      },
      "RoleArn":{
        "type":"string",
        "max":2048,
        "min":0,
        "pattern":"arn:aws(-[^:]+)?:iam::([0-9]{12})?:role/.+"
      },
      "S3Config":{
        "type":"structure",
        "required":["bucketName"],
        "members":{
          "bucketName":{"shape":"BucketName"},
          "keyPrefix":{"shape":"KeyPrefix"}
        }
      },
      "S3Uri":{
        "type":"string",
        "max":1024,
        "min":1,
        "pattern":"s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?"
      },
      "SecurityGroupId":{
        "type":"string",
        "max":32,
        "min":0,
        "pattern":"[-0-9a-zA-Z]+"
      },
      "SecurityGroupIds":{
        "type":"list",
        "member":{"shape":"SecurityGroupId"},
        "max":5,
        "min":1
      },
      "SendUserFeedbackRequest":{
        "type":"structure",
        "required":[
          "modelId",
          "feedback"
        ],
        "members":{
          "modelId":{"shape":"BedrockModelId"},
          "feedback":{"shape":"UserFeedback"},
          "prompt":{"shape":"FeedbackPrompt"},
          "promptId":{"shape":"PromptId"},
          "playgroundId":{"shape":"PlaygroundId"}
        }
      },
      "SendUserFeedbackResponse":{
        "type":"structure",
        "members":{
        }
      },
      "ServiceQuotaExceededException":{
        "type":"structure",
        "members":{
          "message":{"shape":"NonBlankString"}
        },
        "exception":true
      },
      "SortJobsBy":{
        "type":"string",
        "enum":["CreationTime"]
      },
      "SortModelsBy":{
        "type":"string",
        "enum":["CreationTime"]
      },
      "SortOrder":{
        "type":"string",
        "enum":[
          "Ascending",
          "Descending"
        ]
      },
      "SortProvisionedThroughputBy":{
        "type":"string",
        "enum":["CreationTime"]
      },
      "StatusCode":{
        "type":"integer",
        "box":true,
        "max":599,
        "min":100
      },
      "StopFineTuningJobRequest":{
        "type":"structure",
        "required":["jobIdentifier"],
        "members":{
          "jobIdentifier":{"shape":"FineTuningJobIdentifier"}
        }
      },
      "StopFineTuningJobResponse":{
        "type":"structure",
        "members":{
        }
      },
      "StopModelCustomizationJobRequest":{
        "type":"structure",
        "required":["jobIdentifier"],
        "members":{
          "jobIdentifier":{"shape":"ModelCustomizationJobIdentifier"}
        }
      },
      "StopModelCustomizationJobResponse":{
        "type":"structure",
        "members":{
        }
      },
      "StopSequence":{
        "type":"string",
        "max":3,
        "min":0,
        "pattern":"\\|+",
        "sensitive":true
      },
      "StopSequenceList":{
        "type":"list",
        "member":{"shape":"StopSequence"},
        "max":1,
        "min":0
      },
      "String":{"type":"string"},
      "SubnetId":{
        "type":"string",
        "max":32,
        "min":0,
        "pattern":"[-0-9a-zA-Z]+"
      },
      "SubnetIds":{
        "type":"list",
        "member":{"shape":"SubnetId"},
        "max":16,
        "min":1
      },
      "SubscriptionStatus":{
        "type":"string",
        "enum":[
          "UNSUBSCRIBED",
          "PENDING",
          "SUBSCRIBED",
          "ERROR"
        ]
      },
      "SubscriptionVersionToken":{"type":"string"},
      "SupportTerm":{
        "type":"structure",
        "members":{
          "refundPolicyDescription":{"shape":"String"}
        }
      },
      "Tag":{
        "type":"structure",
        "required":[
          "key",
          "value"
        ],
        "members":{
          "key":{"shape":"TagKey"},
          "value":{"shape":"TagValue"}
        }
      },
      "TagKey":{
        "type":"string",
        "max":128,
        "min":1,
        "pattern":"[a-zA-Z0-9\\s._:/=+@-]*"
      },
      "TagKeyList":{
        "type":"list",
        "member":{"shape":"TagKey"},
        "max":200,
        "min":0
      },
      "TagList":{
        "type":"list",
        "member":{"shape":"Tag"},
        "max":200,
        "min":0
      },
      "TagResourceRequest":{
        "type":"structure",
        "required":[
          "resourceARN",
          "tags"
        ],
        "members":{
          "resourceARN":{"shape":"TaggableResourcesArn"},
          "tags":{"shape":"TagList"}
        }
      },
      "TagResourceResponse":{
        "type":"structure",
        "members":{
        }
      },
      "TagValue":{
        "type":"string",
        "max":256,
        "min":0,
        "pattern":"[a-zA-Z0-9\\s._:/=+@-]*"
      },
      "TaggableResourcesArn":{
        "type":"string",
        "max":1011,
        "min":20,
        "pattern":".*(^arn:aws(-[^:]+)?:amazon-bedrock:[a-zA-Z0-9-]*:[0-9]{12}:(fine-tuning-job|custom-model)/.+$)|([a-zA-Z0-9][a-zA-Z0-9\\-]*$)|(^arn:aws(|-cn|-us-gov):bedrock:[a-z0-9-]{1,20}:([0-9]{12}|):(fine-tuning-job|model-customization-job|custom-model)/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}(/[a-z0-9]{12})$).*"
      },
      "TermDetails":{
        "type":"structure",
        "required":[
          "pricingTerm",
          "legalTerm",
          "supportTerm"
        ],
        "members":{
          "pricingTerm":{"shape":"PricingTerm"},
          "legalTerm":{"shape":"LegalTerm"},
          "supportTerm":{"shape":"SupportTerm"}
        }
      },
      "TextGenerationConfig":{
        "type":"structure",
        "members":{
          "maxTokenCount":{"shape":"TextGenerationConfigMaxTokenCountInteger"},
          "minTokenCount":{"shape":"TextGenerationConfigMinTokenCountInteger"},
          "stopSequences":{"shape":"StopSequenceList"},
          "temperature":{"shape":"TextGenerationConfigTemperatureFloat"},
          "topP":{"shape":"Probability"},
          "beamCount":{"shape":"TextGenerationConfigBeamCountInteger"},
          "topK":{"shape":"TextGenerationConfigTopKInteger"},
          "repetitionPenalty":{"shape":"TextGenerationConfigRepetitionPenaltyFloat"},
          "lengthPenalty":{"shape":"TextGenerationConfigLengthPenaltyFloat"},
          "noRepeatNgramSize":{"shape":"TextGenerationConfigNoRepeatNgramSizeInteger"}
        },
        "sensitive":true
      },
      "TextGenerationConfigBeamCountInteger":{
        "type":"integer",
        "box":true,
        "max":5,
        "min":1
      },
      "TextGenerationConfigLengthPenaltyFloat":{
        "type":"float",
        "box":true,
        "max":2,
        "min":-2
      },
      "TextGenerationConfigMaxTokenCountInteger":{
        "type":"integer",
        "box":true,
        "max":4096,
        "min":1
      },
      "TextGenerationConfigMinTokenCountInteger":{
        "type":"integer",
        "box":true,
        "max":1024,
        "min":0
      },
      "TextGenerationConfigNoRepeatNgramSizeInteger":{
        "type":"integer",
        "box":true,
        "max":5,
        "min":0
      },
      "TextGenerationConfigRepetitionPenaltyFloat":{
        "type":"float",
        "box":true,
        "max":4,
        "min":0
      },
      "TextGenerationConfigTemperatureFloat":{
        "type":"float",
        "box":true,
        "max":4,
        "min":0
      },
      "TextGenerationConfigTopKInteger":{
        "type":"integer",
        "box":true,
        "max":200,
        "min":0
      },
      "ThrottlingException":{
        "type":"structure",
        "members":{
          "message":{"shape":"NonBlankString"}
        },
        "exception":true
      },
      "Timestamp":{
        "type":"timestamp",
        "timestampFormat":"iso8601"
      },
      "TooManyTagsException":{
        "type":"structure",
        "members":{
          "message":{"shape":"NonBlankString"},
          "resourceName":{"shape":"TaggableResourcesArn"}
        },
        "exception":true
      },
      "TrainingDataConfig":{
        "type":"structure",
        "required":["s3Uri"],
        "members":{
          "s3Uri":{"shape":"S3Uri"}
        }
      },
      "TrainingMetrics":{
        "type":"structure",
        "members":{
          "trainingLoss":{"shape":"MetricFloat"}
        }
      },
      "UntagResourceRequest":{
        "type":"structure",
        "required":[
          "resourceARN",
          "tagKeys"
        ],
        "members":{
          "resourceARN":{"shape":"TaggableResourcesArn"},
          "tagKeys":{"shape":"TagKeyList"}
        }
      },
      "UntagResourceResponse":{
        "type":"structure",
        "members":{
        }
      },
      "UpdatePromptRequest":{
        "type":"structure",
        "required":[
          "promptId",
          "bookmarked"
        ],
        "members":{
          "playgroundId":{"shape":"PlaygroundId"},
          "promptId":{"shape":"PromptId"},
          "bookmarked":{"shape":"Boolean"}
        }
      },
      "UpdatePromptResponse":{
        "type":"structure",
        "members":{
          "prompt":{"shape":"Prompt"}
        }
      },
      "UpdateProvisionedThroughputRequest":{
        "type":"structure",
        "required":["provisionedThroughputId"],
        "members":{
          "provisionedThroughputId":{"shape":"ProvisionedThroughputId"},
          "desiredProvisionedThroughputName":{"shape":"ProvisionedThroughputName"},
          "desiredModelId":{"shape":"ModelId"}
        }
      },
      "UpdateProvisionedThroughputResponse":{
        "type":"structure",
        "members":{
        }
      },
      "UpdatedAt":{
        "type":"long",
        "box":true
      },
      "UserFeedback":{
        "type":"structure",
        "required":[
          "feedbackType",
          "metadata"
        ],
        "members":{
          "feedbackType":{"shape":"UserFeedbackType"},
          "metadata":{"shape":"FeedbackMetadata"}
        }
      },
      "UserFeedbackType":{
        "type":"string",
        "enum":[
          "Positive",
          "Negative"
        ]
      },
      "ValidationDataConfig":{
        "type":"structure",
        "required":["validators"],
        "members":{
          "validators":{"shape":"Validators"}
        }
      },
      "ValidationException":{
        "type":"structure",
        "members":{
          "message":{"shape":"NonBlankString"}
        },
        "exception":true
      },
      "ValidationMetrics":{
        "type":"list",
        "member":{"shape":"ValidatorMetric"}
      },
      "Validator":{
        "type":"structure",
        "required":["s3Uri"],
        "members":{
          "s3Uri":{"shape":"S3Uri"}
        }
      },
      "ValidatorMetric":{
        "type":"structure",
        "members":{
          "validationLoss":{"shape":"MetricFloat"}
        }
      },
      "Validators":{
        "type":"list",
        "member":{"shape":"Validator"},
        "max":10,
        "min":0
      },
      "VpcConfig":{
        "type":"structure",
        "required":[
          "subnetIds",
          "securityGroupIds"
        ],
        "members":{
          "subnetIds":{"shape":"SubnetIds"},
          "securityGroupIds":{"shape":"SecurityGroupIds"}
        }
      }
    }
  }
  